<% unless @user.blank? %>
<h1>Public Profile</h1>
<%= render 'user' %>
<% end %>

<%= render 'profile' unless @profile.blank? %>

<% unless @user.blank? || @questions.blank? %>
<h3><%= @questions.size %>  Questions Asked:</h3>
<%= render :partial => '/questions/question_light', :collection => @questions %>
<% end %>