<%= form_for(@attaching) do |f| %>
  <% if @attaching.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attaching.errors.count, "error") %> prohibited this attaching from being saved:</h2>

      <ul>
      <% @attaching.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
