<%= form_for(@rep_event) do |f| %>
  <% if @rep_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rep_event.errors.count, "error") %> prohibited this rep_event from being saved:</h2>

      <ul>
      <% @rep_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
